*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("travel.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 20px;
}
ul, li{
	display: inline-block;
}
ul, li, a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
}
ul, li, a:hover{
	background-color: transparent;
	color: black;
}

.tittle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.tittle h1{
	color: white;
	font-size: 50px;
}
.logo, img{
	float: left;
	width: 100px;
	height: auto;
}